AnilistPython
apscheduler 
PyMuPdf 
aiofiles
bs4
cloudscraper
cryptg
fastapi
ffmpeg-python 
fpdf2
html-telegraph-poster
img2pdf
jikanpy
markdown
mautrix
natsort 
nhentai
pillow
pymongo[srv]
pyrogram
pyromod
python-dotenv
reportlab
requests
search-engine-parser
telegraph
telethon
tgcrypto
