AnilistPython
apscheduler 
PyMuPdf 
aiofiles
bs4
cloudscraper
cryptg
ffmpeg-python 
fpdf2
gunicorn
html-telegraph-poster
img2pdf
jikanpy
lbry-libtorrent
markdown
mautrix
natsort 
nhentai
pillow
pymongo[srv]
pyrogram==2.0.50
pyromod
python-dotenv
reportlab
requests
search-engine-parser
telegraph
telethon
tgcrypto
uvloop
